body {
    background-color: #673399;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}



.navbar ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    list-style: none;
    margin: 5px;
    font-size: 10px;
    font-weight: bold;
    padding-right: 40px;


}

.navbar a {
    text-decoration: none;
    color: white;
    
}

.nav-item:first-child {
    margin-right: auto;
    padding-left: 50px;

}

.container {
    color: white;
    text-align: center;
    margin-top: 80px;
}

#date {
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;

}

h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

#description {
    font-size: 13px;
}
